* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(12, 12, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/MHW.jpg");
    background-size: cover;
    opacity: .15;
    z-index: -1;
}

/*---------HEADER-----------------------------------------------------*/

header {
    background-color: rgba(13, 13, 39, 0.904);
    backdrop-filter: blur(.5rem);
    width: 85%;
    margin: 5rem auto 0 auto;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

header h1 {
    color: white;
    font-weight: normal;
}

header span {
    color: rgb(0, 153, 153);
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav {
    font-weight: bold;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

/*---------MAIN-----------------------------------------------------*/

main {
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 70%;
    padding-bottom: 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: rgba(13, 13, 39, 0.904);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.253);
}

main nav {
    position: absolute;
    width: 20%;
    height: 100%;
    margin-left: 2rem;
}


main h2 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    color: white;
    border-bottom: .1px solid rgba(0, 153, 153, 0.651);
}

.mh-enlaces {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: .5rem;
    gap: 1rem;
}

.mh-enlaces a {
    transition: 250ms ease;
}

.mh-enlaces a:hover {
    margin-left: .7rem;
    color: rgb(5, 236, 236);
}

.contenido-principal {
    width: 75%;
    position: absolute;
    right: 0;
}

.build h3 {
    font-size: 1rem;
}


.build img {
    margin: 0 auto;
    display: block;
    width: 80%;
}

.monsters {
    margin-top: 2rem;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

